.footer{
    display: flex;
    justify-content: left;
    background-color: #212121;
    padding: 40px 0 60px;
}

.footer > div{
    display: flex;
    flex-direction: column;
    width: 172px;
    margin-left: 14px;
}
.footer > div > a{
   text-decoration: none;
   font-size: 13px;
   line-height: 32px;
   color: #b0b0b0;
}
.footer > div > p{
    color: #b0b0b0;
   font-size: 14px;
   line-height: 40px;

}