.ProductReviewsCard:hover{
    box-shadow: 6px 6px 15px rgb(54, 54, 54);
}

.ProductReviewsCard {
    transition: all 0.5s;
}


.txt{
    height: 106px;
    box-sizing: border-box;
    padding: 22px 160px 22px 22px;
    overflow: hidden;
    background-color: white;
}

.picimage{
    width: 100%;
}

.txt >h4{
    color: #757575;
    text-decoration: none;
    font-size: 18px;
}

.txt > div {
display: flex;
gap: 40px;
}

.txt > div > span{
    font-size: 14px;
    color: #757575;
    font-weight: 600;

}

.txt > div > span:last-child{

    color: #da5d0f;
    
}